@font-face {
    font-family: "PFBeauSansPro";
    src: url("fonts/PFBeauSansPro-Reg.ttf");
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PFBeauSansPro";
}

.head{
    color: var(--, #1F1F1F);
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.white__head{
    color: #FFF;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 142.5%;
    z-index: 2;
    display: flex;
    justify-content: center;
    
}
.info__wrapper{
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
.white__head__green{
    color: #FFF;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 142.5%;
    z-index: 2;
    
}

.name__text__block{
    display: flex;
    gap: 5px;
}
.name, .content{
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 188%;
}

.content{
    font-size: 12px;
    font-weight: 400;

}

.text{
    color: var(--, #1F1F1F);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 188%;
    margin-bottom: 70px; /* 22.56px */
}
.text__wrapper{
    display: flex;
    flex-direction: column;
    gap:21px;
    width: 80%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.11);
}

.header__menu,
.header__logo {
    padding: 15px;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 64px;
    left: 0;
    width: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    opacity: 0;
    overflow: hidden;
    transition: width 0.3s ease, opacity 0.3s ease; /* Изменено на transition: width и opacity */
}
.menu_img:hover{
    transform: rotateX('90');
}
.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
}

.menu a:hover {
    background-color: #f0f0f0;
}

.menu.active {
    width: 200px;
    opacity: 1;
}

.main__greenback{
    display: flex;
    justify-content: center;
    padding-left: 10%;
    background: #00525D;
    height: 246px;
    flex-direction: column;
    gap: 21px;
}
.map{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.map__img-img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.map__img{
    width: 100%;
    display: flex;
}
.map__link{
    background:rgba(31, 31, 31, 0.35);
    opacity: 0.8;
    width: 70%;
    gap: 20px;
    object-fit: cover;
    height: 46px;
    color: #FFF;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    justify-content: center;
    margin-top: -44px;
    text-decoration: none;
     
}

.main__mobile__floorsplan{
    margin-bottom: 30px;
}

.info__wrapper{
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
.white__head__green{
    color: #FFF;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 142.5%;
    z-index: 2;
    padding-left: 10%;
    
}

.name, .content{
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 188%;
}

.content{
    font-size: 12px;
    font-weight: 400;

}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    width: 100%;
    height: 350px;
    background: #000;
    
}


.footer_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 80%;
}

.footer_info__line{
    width: 1px;
    height: 100%;
    background: #FFF;
    margin-left: 7%;
}
.footer_info__links{
    display: flex;
    flex-direction: column;
    
}

.info{
    padding-left: 10%;
}
.foooter__info__secondline__tgvk{
    display: flex;
    gap: 10px;
}
.footer_info__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foooter__info__secondline__links__item, .foooter__info__firstline__item{
    color: #FFF;
    text-decoration: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 188%; /* 22.56px */
}