@font-face {
    font-family: "PFBeauSansPro";
    src: url("fonts/PFBeauSansPro-Reg.ttf");
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PFBeauSansPro";
}

.header__desktop{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 174px;
    gap: 30px;
}

.header__desktop__logo__links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    gap: 90px;
    margin-top: 32px;
    

}
.header__desktop__logo__links__logo{
    display: inherit;
    align-items: center;
    justify-content: center;
    
}
.header__desktop__logo__links__links{
    display: inherit;
    gap: 20px;
    
}
.header__desktop__logo__links__links__item{
    display: inherit;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: transform 0.5s ease;
}
.header__desktop__logo__links__links__item:hover{
    color: #00525D;
    transform: scale(1.05);
}
.header__desktop__logo__links__links__item:last-child{
    font-size: 16px;
    margin-left: 20px;
}

.header__desktop__logo__hr{
    height: 1px;
    width: 100%;
    background: #000;

}

.main__desktop{
    display: flex;
    flex-direction: column;
}
.main__desktop__aboutbc{
    display: flex;
    flex-direction: column;
    height: 900px;
    gap: 38px;
    margin-top: 121px;
}

.main__desktop__aboutbc__dir__f, .main__desktop__aboutbc__dir__s{
    color: #D7D7D7;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 151%; /* 21.14px */
}

.main__desktop__aboutbc__head{
    color: var(--, #1F1F1F);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 5%;
}



.main__desktop__aboutbc__info__and__img{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-left: 5%;
    align-items: center;
    
}

.main__desktop__aboutbc__dir{
    display: flex;
    padding-left: 5%;
}
.main__desktop__aboutbc__dir__s{
    color: #AAA;
}
.main__desktop__aboutbc__info__and__img__img{
    width: 50%;
    background: url('../svg/aboutBC__firstimg.svg');
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.main__desktop__aboutbc__info__and__img__text{
    width: 49%;
}
.main__desktop__greenback__info__text, .main__desktop__aboutbc__info__and__img__text{
    color: var(--, #1F1F1F);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 188%; /* 33.84px */
    display: flex;
    margin-top: 2%;
}

.main__desktop__greenback{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 700px;
    background: linear-gradient(0deg, #00525D 0%, rgba(0, 82, 93, 0.84) 100%);
    align-items: center;
}



.main__desktop__greenback__info{
    width: 47%;
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 4%;

}
.main__desktop__greenback__info__text{
    color: #FFF;
    display: flex;
    
 
}

.main__desktop__greenback__info__head{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    
}

.main__desktop__greenback__img{
    width: 45%;
    background: url('../svg/aboutBC__grennbackimg.svg');
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70%;
}

.main__desktop__offers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 39.85px;
    background: #FFF;
    height: 590px
    
}

.main__desktop__offers__blocks{
    display: flex;
    gap: 39.85px;
    width: 90%;
    
}

.main__desktop__offers__blocks__item{
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 30%;
    padding-bottom: 100px;
    border: 1px solid rgba(255, 255, 255, 0.43);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.10);
    transition: transform 0.5s ease;
}

.main__desktop__offers__blocks__item:hover{
    transform: scale(1.05);
}

.main__desktop__offers__blocks__item__name{
    margin-left: 8%;
    color: #1F1F1F;
    font-size: 20px;
    font-style: normal;
    line-height: 0%; /* 0px */
    margin-top: 45px;
}

.main__desktop__offers__blocks__item__info{
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-top: 55px;

}

.main__desktop__offers__blocks__item__info__item{
    display: flex;
    align-items: center;
    gap: 6px;
}

.main__desktop__mapcontacts{
    display: flex;
    justify-content: space-between;
    
}

.main__desktop__mapcontacts__info{
    display: flex;
    padding-left: 5%;
    justify-content: center;
    width: 40%;
    flex-direction: column;
    background: linear-gradient(0deg, #00525D 0%, rgba(0, 82, 93, 0.84) 100%);
    gap: 20px;
}

.main__desktop__mapcontacts__info__head{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.main__desktop__mapcontacts__info__contacts{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.main__desktop__mapcontacts__info__contacts__block{
    display: flex;
    gap: 5px;
    align-items: center;
}

.main__desktop__mapcontacts__info__contacts__block__bold, .main__desktop__mapcontacts__info__contacts__block__main{
    color: #FFF;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 180.5%;
}

.main__desktop__mapcontacts__info__downloadlink__text{
    transition: transform 0.5s ease;
}
.main__desktop__mapcontacts__info__downloadlink__text:hover{
    transform: scale(1.1);
}
.main__desktop__mapcontacts__info__contacts__block__main, .main__desktop__mapcontacts__info__downloadlink__text__link{
    font-weight: 400;
    line-height: 140.5%;
}

.main__desktop__mapcontacts__img-img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.main__desktop__mapcontacts__img{
    width: 59%;
    height: 100%;
    display: flex;
}

.main__desktop__mapcontacts__info__downloadlink{
    display: flex;
    gap: 10px;
    align-items: center;

}
.main__desktop__mapcontacts__info__downloadlink__text{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.main__desktop__mapcontacts__info__downloadlink__text__hr{
    width: 100%;
    height: 1px;
    background: #FFF;
    margin-top: 3px;
}

.main__desktop__mapcontacts__info__downloadlink__text__link{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;

}

/* added------------------------------------------------------- */
.footer__desktop{
    background:  #1F1F1F;
    height: 523px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foooter__desktop__info{
    max-width: 1145px;
    width: 100%;
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.foooter__desktop__info__firstline, .foooter__desktop__info__secondline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foooter__desktop__info__firstline__links, .foooter__desktop__info__secondline__links{
    display: flex;
    justify-content: space-between;
    width: 60%;
}


.foooter__desktop__info__firstline__item, .foooter__desktop__info__secondline__links{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.foooter__desktop__info__hrline{
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.62);
}

.foooter__desktop__info__secondline__tgvk{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-left:5%;
}

.foooter__desktop__info__secondline__links{
    font-size: 16px;
}

.footer__mobile{
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    width: 100%;
    height: 350px;
    background: #000;
    
}


.footer__mobile_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 80%;
}

.footer__mobile_info__line{
    width: 1px;
    height: 100%;
    background: #FFF;
    margin-left: 7%;
}
.footer__mobile_info__links{
    display: flex;
    flex-direction: column;
    
}

.foooter__mobile__info__secondline__tgvk{
    display: flex;
    gap: 10px;
}
.footer__mobile_info__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foooter__mobile__info__secondline__links__item, .foooter__mobile__info__firstline__item{
    color: #FFF;
    text-decoration: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 188%; /* 22.56px */
}

.header__mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.11);
}

.header__mobile__menu,
.header__mobile__logo {
    padding: 15px;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 64px;
    left: 0;
    width: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 4;
    opacity: 0;
    overflow: hidden;
    transition: width 0.3s ease, opacity 0.3s ease; /* Изменено на transition: width и opacity */
}
.menu_img:hover{
    transform: rotateX('90');
}
.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
}

.menu a:hover {
    background-color: #f0f0f0;
}

.menu.active {
    width: 200px;
    opacity: 1;
}

.main__mobile{
    display: flex;
    flex-direction: column;
}
.main__mobile__aboutbcanddecor{
    display: flex;
    height: 72px;
    justify-content: space-between;
    
}

.main__mobile__aboutbcanddecor__decor{
    width: 35%;
    background: #00525D;
    
}

.decor__null{
    height: 17px;
}




.main__mobile__aboutbc__dir__f, .main__mobile__aboutbc__dir__s{
    color: #D7D7D7;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 151%; /* 21.14px */
}

.main__mobile__aboutbc__dir{
    display: flex;
    padding-left: 5%;
    flex-direction: column;
    justify-content: space-around;
    
}
.main__mobile__aboutbc__dir__dir{
    display: flex;
    gap: 5px;
}
.main__mobile__aboutbc__dir__s{
    color: #AAA;
    font-size: 10px;
}

.main__mobile__firstback{
    
    margin-bottom: 41px;
    
    width: 100%;

}
.main__mobile__secondback{
    margin-bottom: 41px;
    width: 100%;
}

.main__mobile__wrapper{
    background: url('../svgmobile/aboutbc__thirdback.svg');
    
    background-size: cover;
}
.main__mobile__wrapper__green{
    z-index: 1;
    opacity: 0.9;
    background: #00525D;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.main__mobile__offers{
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    
}
.main__mobile__offers__blocks__item{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border: 1px solid rgba(255, 255, 255, 0.43);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.10);
    transition: transform 0.5s ease;
    padding: 6%;
    justify-content: center;
    align-items: center;
    max-width:340px;
    width: 80%;
    margin: 0 auto;
}

.main__mobile__offers__blocks__item:hover{
    transform: scale(1.05);
}

.main__mobile__offers__blocks__item__name{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 15px;
}

.main__mobile__offers__blocks__item__info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

}

.main__mobile__offers__blocks__item__info__item{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 188%;
}

.main__mobile__banks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 29px;
    align-items: center;
    max-height: 240px;
    
    margin-bottom: 50px;
    margin-top: 50px;
}

.main__mobile__greenback{
    display: flex;
    justify-content: center;
    padding-left: 10%;
    background: #00525D;
    height: 246px;
    flex-direction: column;
    gap: 21px;
}

.name__text__block{
    display: flex;
    gap: 5px;
}

.main__mobile__banks__banks{
    width: 80%;
    margin: 0 auto;
    display: flex;
    

}
.map{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.map__img-img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.map__img{
    width: 100%;
    display: flex;
}
.map__link{
    background:rgba(31, 31, 31, 0.35);
    opacity: 0.8;
    width: 70%;
    gap: 20px;
    object-fit: cover;
    height: 46px;
    color: #FFF;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    justify-content: center;
    margin-top: -44px;
    text-decoration: none;
     
}
.head{
    color: var(--, #1F1F1F);
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.white__head,.white__headgrid{
    color: #FFF;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 142.5%;
    z-index: 2;
    justify-content: center;
    display: flex;
}
.white__headgrid{
    margin-top: 30px;
}
.white__head__green{
    color: #FFF;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 142.5%;
    z-index: 2;
    
}

.name, .content{
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 188%;
}

.content{
    font-size: 12px;
    font-weight: 400;

}

.text{
    color: var(--, #1F1F1F);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 188%;
    margin-bottom: 70px; /* 22.56px */
}
.text__wrapper{
    display: flex;
    flex-direction: column;
    gap:21px;
    width: 80%;
    margin: 0 auto;
}
.text__wrapper__right{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    justify-content: space-around;
    gap: 30px;
}


@media screen and (max-width:1230px) {
    .header__desktop, .main__desktop__desktop, .footer__desktop{
        display: none;
    }
    .header__mobile, .main__desktop__mobile, .footer__mobile{
        display: flex;
    }
}

@media screen and (min-width:1231px) {
    .header__desktop, .main__desktop, .footer__desktop{
        display: flex;
    }
    .header__mobile, .main__mobile, .footer__mobile{
        display: flex;
        display: none;
    }
}

@media screen and (max-width:1230px) {
    .header__desktop, .main__desktop, .footer__desktop{
        display: none;
    }
    .header__mobile, .main__mobile, .footer__mobile{
        display: flex;
        
    }
}

@media screen and (min-width:700px) {
    .text{
        font-size: 24px;

    }
    .head{
        font-size: 36px;
    }
}

  


